<div class="reset-password-page">

  <div class="reset-password-card">

    <div class="reset-password-header">

      <h1>
        {{ 'RESET_PASSWORD.TITLE' | translate }}
      </h1>

      <p>
        {{ 'RESET_PASSWORD.SUBTITLE' | translate }}
      </p>

    </div>


    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPassword()"
      class="reset-password-form"
    >


      <!-- New password -->

      <div class="form-field">

        <label for="password">
          {{ 'RESET_PASSWORD.NEW_PASSWORD' | translate }}
        </label>

        <!-- <input
          id="password"
          type="password"
          formControlName="password"
          [placeholder]="'RESET_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate"
          [class.invalid]="
            resetPasswordForm.get('password')?.touched &&
            resetPasswordForm.get('password')?.invalid
          "
        > -->
<app-password-field
  [password]="passwordValue"
  (passwordChange)="onPasswordChange($event)"
></app-password-field>
        @if (
          resetPasswordForm.get('password')?.touched &&
          resetPasswordForm.get('password')?.hasError('required')
        ) {

          <small>
            {{ 'RESET_PASSWORD.PASSWORD_REQUIRED' | translate }}
          </small>

        }

        @if (
          resetPasswordForm.get('password')?.touched &&
          resetPasswordForm.get('password')?.hasError('minlength')
        ) {

          <small>
            {{ 'RESET_PASSWORD.PASSWORD_MIN_LENGTH' | translate }}
          </small>

        }

      </div>


      <!-- Confirm password -->

      <div class="form-field">

        <label for="confirmPassword">
          {{ 'RESET_PASSWORD.CONFIRM_PASSWORD' | translate }}
        </label>

        <input
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          [placeholder]="'RESET_PASSWORD.CONFIRM_PASSWORD_PLACEHOLDER' | translate"
          [class.invalid]="
            resetPasswordForm.get('confirmPassword')?.touched &&
            resetPasswordForm.get('confirmPassword')?.invalid
          "
        >

        @if (
          resetPasswordForm.get('confirmPassword')?.touched &&
          resetPasswordForm.get('confirmPassword')?.hasError('required')
        ) {

          <small>
            {{ 'RESET_PASSWORD.CONFIRM_PASSWORD_REQUIRED' | translate }}
          </small>

        }

      </div>


      <button
        type="submit"
        class="reset-password-btn"
        [disabled]="isLoading()"
      >

        @if (isLoading()) {

          {{ 'RESET_PASSWORD.RESETTING' | translate }}

        } @else {

          {{ 'RESET_PASSWORD.RESET_BUTTON' | translate }}

        }

      </button>


    </form>

  </div>

</div>