/* ==========================================================
   VARIABLES
========================================================== */

$bg-left: #0b0f1c;
$bg-right: #121933;

$gold: #d4af5a;
$gold-dark: #b79234;

$text-main: #f0e6c8;
$text-light: #b8a882;
$text-muted: #8d856f;

$border: rgba(212,175,90,.25);

$error:#ff6b6b;
